@model DAL.Habitacion


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>DETALLE HABITACION</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">INICIO</a>
                    </li>
                    <li class="active">DETALLE HABITACION</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix userProfile">
    <div class="container">



        <div class="panel panel-white">

            <div class="panel-body">
                <div class="list-group">
           
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.idHabitacion)
                    @Html.HiddenFor(model => model.idHotel)

                    <a class="list-group-item list-group-item-info" href="#" style="font-size: 20px;">

                        @Html.Label("Habitacion: ", new { @class = "control-label" }) @Model.nombreHabitacion
                    </a>


                    <a class="list-group-item" href="#">
                        @Html.Label("Tipo: ", new { @class = "control-label" }) @Model.TipoHabitacion.nombre

                    </a>


                    <a class="list-group-item" href="#">
                        @Html.Label("Cantidad de baños: ", new { @class = "control-label" }) @Model.cantidadBanios

                    </a>


                    <a class="list-group-item" href="#">
                        @Html.Label("Balcón ", new { @class = "control-label" })

                        @if (Model.balcon == true)
                        {
                            <i class="fa fa-check" style="color:green;"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" style="color:red;"></i>
                        }


                    </a>

                    <a class="list-group-item" href="#">
                        @Html.Label("Heladera ", new { @class = "control-label" })
                        @if (Model.heladera == true)
                        {
                            <i class="fa fa-check" style="color:green;"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" style="color:red;"></i>
                        }




                    </a>
                    <a class="list-group-item" href="#">
                        @Html.Label("Microondas ", new { @class = "control-label" })
                        @if (Model.microondas == true)
                        {
                            <i class="fa fa-check" style="color:green;"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" style="color:red;"></i>
                        }


                    </a>
                </div>



            </div>
            <p>
                @Html.ActionLink("MODIFICAR", "Edit", new { id = Model.idHabitacion }) |
                @Html.ActionLink("VOLVER", "Index", new { idhotel = Model.idHotel })
            </p>
        </div>






    </div>
</section>

