@model IEnumerable<DAL.Habitacion>

@{
    ViewBag.Title = "Index";
}


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Habitaciones</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">INICIO</a>
                    </li>
                    <li class="active">Habitaciones</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix userProfile">
    <div class="container">

        <div class="panel-body">
            <a href='@Url.Action("Create", "Habitaciones", new { idHotel = Model.FirstOrDefault().idHotel })' class="btn btn-blue"><i class="fa fa-plus"> Agregar Habitación</i></a>
            <br />
            @*@Html.ActionLink("NUEVA HABITACION", "Create", new { idHotel = Model.FirstOrDefault().idHotel })*@
            <br />
            <table class="table">

                <tr>
                    <th class="text-bold">
                        <br />
                        <span class="text-bold">@Html.Label("Habitacion")</span>
                    </th>
                    <th class="text-bold">
                        <br />
                        <span class="text-bold">@Html.Label("Tipo")</span>
                    </th>
                    <th class="text-bold">
                        <br />
                        <span class="text-bold">@Html.Label("Opciones")</span>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreHabitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoHabitacion.nombre)


                        </td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs">

                                <a href='@Url.Action("Edit", "Habitaciones", new { id = item.idHabitacion })' class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></a>
                                <a href='@Url.Action("Details", "Habitaciones", new { id = item.idHabitacion })' class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></a>
                                <a href='@Url.Action("Delete", "Habitaciones", new { id = item.idHabitacion })' class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></a>
                                @*@Html.ActionLink("Editar", "Edit", new { id = item.idUsuario}) |
                                @Html.ActionLink("Detalle", "Details", new { id = item.idUsuario }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.idUsuario })-------- MATI------------*@
                            </div>
                            @*@Html.ActionLink("MODIFICAR", "Edit", new { id = item.idHabitacion }) |
                            @Html.ActionLink("DETALLES", "Details", new { id = item.idHabitacion }) |
                            @Html.ActionLink("ELIMINAR", "Delete", new { id = item.idHabitacion })*@
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <i class="fa fa-edit"></i> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <i class="fa fa-share"></i> Ver
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <i class="fa fa-times"></i> Eliminar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                }

               

            </table>

            <a href="javascript:history.back()" class="btn btn-info" style="padding:10px; margin-top:20px; width: 200px;">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Volver
            </a>

        </div>



    </div>
</section>


  
