@model BussinesEntities.NegocioEntity
@{
    ViewBag.Title = "Evaluación de Negocio";
}


<script type="text/javascript">

    var idtramite = "@ViewBag.Tramite"
    var accion;


    $(document).ready(function () {

        $("#btnAprobar").click(function () {
            $("#textoAprob").show();
            $("#textoRecha").hide();
            $("#comentario").show();
            $("#btnConfirmar").show();
            $("#textoSolicCorr").hide();
            accion = 3;
        });

        $("#btnRechazar").click(function () {
            $("#textoAprob").hide();
            $("#textoRecha").show();
            $("#comentario").show();
            $("#btnConfirmar").show();
            $("#textoSolicCorr").hide();
            accion = 4;
        });

        $("#btnSolicitarCorreccion").click(function () {
            $("#textoAprob").hide();
            $("#textoRecha").hide();
            $("#textoSolicCorr").show();
            $("#comentario").show();
            $("#btnConfirmar").show();
            accion = 6;
        });

        $("#btnConfirmar").click(function () {
            if (confirm('¿Está seguro que desea confirmar la operación?')) {
                window.location = "../../Tramites/ResolverTramite/?idtramite=" + idtramite + "&accion=" + accion + "&comentario=" + $("#coment").val();
            }
        });

    });


</script>


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>REVISAR ALTA NEGOCIO</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="home">INICIO</a>
                    </li>
                    <li class="active">REVISAR ALTA NEGOCIO</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white" style="width:1190px;">

                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-info" href="#" style="font-size: 20px;">
                                @Model.nombre
                            </a>
                            <a class="list-group-item" href="#">
                                Usuario Solicitante: <span class="text-bold">@Model.Usuarios.nombreUsuario</span>
                            </a>
                            <a class="list-group-item" href="#">
                                Tipo de Negocio:
                                <span class="text-bold">
                                    @Model.TipoDeNegocio.nombre
                                    @if (Model.idTipoNegocio == 1)
                                    {
                                        if (Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje != 2)
                                        {
                                            @Html.Label("  -  ") @Model.LugarHospedaje.FirstOrDefault().TipoLugarHospedaje.nombre
                                        }
                                        else
                                        {
                                            @Html.Label("  -  ") @Model.LugarHospedaje.FirstOrDefault().TipoLugarHospedaje.nombre
                                            @Html.Label(" de ") @Model.LugarHospedaje.FirstOrDefault().Complejo.FirstOrDefault().TipoComplejo.nombreTipoComplejo
                                        }

                                    }
                                </span>

                            </a>
                            <a class="list-group-item" href="#">


                                @if (Model.idTipoNegocio == 1)
                                {
                                    if (Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje != 1)
                                    {
                                        <div>
                                            @Html.Label("Categoria: ", new { @class = "control-label" })
                                            @if (Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje == 2)
                                            {
                                                <div>
                                                    <span class="text-bold">@Model.LugarHospedaje.FirstOrDefault().Complejo.FirstOrDefault().CategoriaHospedaje.nombre </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="text-bold">  @Model.LugarHospedaje.FirstOrDefault().Hotel.FirstOrDefault().CategoriaHospedaje.nombre</span>
                                                </div>
                                            }
                                        </div>
                                    }

                                    <br />

                                    @*<div>
                                            @Html.Label("Caracteristicas: ", new { @class = "control-label" })
                                            @foreach (var item in Model.LugarHospedaje.FirstOrDefault().CaracteristicasHospedaje)
                                            {
                                                <div>
                                                    @Html.Label(" - ") @item.Caracteristica.nombre
                                                </div>
                                            }
                                        </div>*@

                                }
                                else
                                {
                                    <div>

                                        <div>
                                            @Html.Label("Rubro: ", new { @class = "control-label", id = "lblRubro" })
                                            <span class="text-bold">  @Model.Comercio.FirstOrDefault().Rubro.nombreRubro </span>
                                        </div>
                                    </div>
                                }

                            </a>
                            <a class="list-group-item" href="#">
                                <div>
                                    Teléfono: <span class="text-bold">@Model.Sucursal.FirstOrDefault().telefono</span>
                                </div>
                            </a>
                            <a class="list-group-item" href="#">
                                Ubicación: <span class="text-bold">@Model.Sucursal.FirstOrDefault().Domicilio.calle @Html.Label("  ") @Model.Sucursal.FirstOrDefault().Domicilio.numero</span> @Html.Label("Dpto: ")<span class="text-bold"> @Model.Sucursal.FirstOrDefault().Domicilio.dpto @Html.Label(",  ") @Model.Sucursal.FirstOrDefault().Domicilio.Localidad.nombreLocalidad</span>
                            </a>
                            <a class="list-group-item" href="#">
                                <div>
                                    @Html.Label("Descripcion:", new { @class = "control-label" })
                                    <div>
                                        @Model.descripcion
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1">
                                @{
                                    foreach (var item in Model.FotosNegocio)
                                    {
                                        if (item.esPrincipal == true)
                                        {
                                            <div id="divImagenPrincipal">
                                                <img src="@Url.Action("ObtenerImagen","Negocios",new { id = item.idFoto })" alt="Alternate Text" style="width: 500px; height: 500px;" />
                                            </div>
                                        }
                                    }
                                }
                                <br />
                            </div>
                            <div class="col-lg-5">
                                @*@Html.Label("Imagenes del Negocio: ", new { @class = "control-label col-md-2", id = "lblRubro" })*@

                                <ul class="row the-icons">



                                    @{foreach (var item in Model.FotosNegocio)
                                    {

                                        if (item.esPrincipal != true)
                                        {
                                            <li class="col-lg-4">

                                                <img src="@Url.Action("ObtenerImagen","Negocios",new { id = item.idFoto })" alt="Alternate Text" style="width: 100px; height: 100px;" />
                                                <hr />
                                            </li>

                                        }

                                    }

                                    }

                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-offset-5">

                                <button class="btn btn-green" id="btnAprobar" style="background: yellowgreen; color:white;padding:10px;">
                                    <i class="fa fa-check"></i> ACEPTAR
                                </button>

                                <button class="btn btn-green" id="btnSolicitarCorreccion" style="background: cornflowerblue; color:white;padding:10px;">
                                    <i class="fa fa-check"></i> SOLICITAR CORRECCION
                                </button>

                                <button class="btn btn-red" id="btnRechazar" style="background: rgba(177, 13, 20, 1); color:white;padding:10px;">
                                    <i class="fa fa-times fa fa-white"></i> RECHAZAR
                                </button>
                            </div>
                            <br />

                            <div id="textoAprob" style="display:none" class="alert alert-block alert-success fade in col-lg-10 col-lg-offset-1">
                                <h4 class="alert-heading"><i class="fa fa-check"></i> Aprobado!</h4>
                                <p>
                                    Atención! Usted esta aprobando la publicacion del siguiente negocio,
                                    el mismo será publicado a la brevedad en el sitio web.
                                </p>
                            </div>
                            <div id="textoRecha" style="display:none" class="alert alert-block alert-danger fade in col-lg-10 col-lg-offset-1">
                                <h4 class="alert-heading"><i class="fa fa-times"></i> Rechazado</h4>
                                Atención! Usted esta rechazando la publicacion del siguiente negocio,
                                el mismo no se hará publico en el sitio web informando el motivo de rechazo al usuario.
                                <br />

                                <div id="comentario" style="display:none">
                                    <br />
                                    <textarea id="coment" placeholder="Motivo del Rechazo.." style="width:500px; height:100px;" class="autosize form-control col-lg-offset-4"></textarea>
                                </div>
                            </div>
                            <div id="textoSolicCorr" style="display:none" class="alert alert-block alert-danger fade in col-lg-10 col-lg-offset-1">
                                <h4 class="alert-heading"><i class="fa fa-times"></i> Rechazado</h4>
                                Atención! Usted esta solicitando una correccion del siguiente negocio,
                                el mismo no se hará publico en el sitio web hasta no ser aprobado. Recordá que se pueden solicitar
                                hasta 2 correcciones, luego se debera aprobar o rechazar el tramite.
                                <br />

                                <div id="comentario" style="display:none">
                                    <br />
                                    <textarea id="coment" placeholder="Comentario.." style="width:500px; height:100px;" class="autosize form-control col-lg-offset-4"></textarea>
                                </div>
                            </div>
                            <br />

                            <input type="button" value="CONFIRMAR" style="background: yellowgreen; color:white;padding:10px;display:none" class="btn btn-green col-lg-offset-5" id="btnConfirmar"/>
                        </div>




                    </div>
                </div>
            </div>
        </div>


        @*<h4>

            </h4>



            @{
                foreach (var item in Model.FotosNegocio)
                {
                    if (item.esPrincipal == true)
                    {
                        <div id="divImagenPrincipal">
                            <img src="@Url.Action("ObtenerImagen","Negocios",new { id = item.idFoto })" alt="Alternate Text" style="width: 400px; height: 400px;" />
                        </div>
                    }
                }
            }

            <br />
            <br />


            <br />
            <div>

                <br />
                <br />
                @Html.Label("Localidad: ") @Model.Sucursal.FirstOrDefault().Domicilio.Localidad.nombreLocalidad
                <br />
                @Html.Label("Calle: ") @Model.Sucursal.FirstOrDefault().Domicilio.calle
                <br />
                @Html.Label("Número: ") @Model.Sucursal.FirstOrDefault().Domicilio.numero
                <br />
                @Html.Label("Barrio: ") @Model.Sucursal.FirstOrDefault().Domicilio.barrio
                <br />
                @Html.Label("Dpto: ") @Model.Sucursal.FirstOrDefault().Domicilio.dpto
            </div>
            <br />
            <br />
            <div>
                @Html.Label("Imagenes del Negocio: ", new { @class = "control-label col-md-2", id = "lblRubro" })

                <table>
                    <tr>


                        @{foreach (var item in Model.FotosNegocio)
                        {
                            if (item.esPrincipal != true)
                            {
                                <td>
                                    <img src="@Url.Action("ObtenerImagen","Negocios",new { id = item.idFoto })" alt="Alternate Text" style="width: 200px; height: 200px;" />
                                </td>
                            }
                        }
                        }
                    </tr>
                </table>
            </div>*@
        <br />
        <br />
        @*@if (Model.idTipoNegocio == 1)
            {
                if (Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje != 1)
                {
                    <div>
                        @Html.Label("Categoria: ", new { @class = "control-label col-md-2" })
                        @if (Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje == 2)
                        {
                            <div>
                                @Model.LugarHospedaje.FirstOrDefault().Complejo.FirstOrDefault().CategoriaHospedaje.nombre
                            </div>
                        }
                        else
                        {
                            <div>
                                @Model.LugarHospedaje.FirstOrDefault().Hotel.FirstOrDefault().CategoriaHospedaje.nombre
                            </div>
                        }
                    </div>
                }

                <br />

                <div>
                    @Html.Label("Caracteristicas: ", new { @class = "control-label col-md-2" })
                    @foreach (var item in Model.LugarHospedaje.FirstOrDefault().CaracteristicasHospedaje)
                    {
                        <div>
                            @Html.Label(" - ") @item.Caracteristica.nombre
                        </div>
                    }
                </div>

            }
            else
            {
                <div>
                    @Html.Label("Rubro: ", new { @class = "control-label col-md-2", id = "lblRubro" })
                    <div>
                        @Model.Comercio.FirstOrDefault().Rubro.nombreRubro
                    </div>
                </div>
            }
            <br />*@

    </div>




</section>