@model IEnumerable<BussinesEntities.ReservasEntities>


<script type="text/javascript">

    $(document).ready(function () {

        $('.date').mask('00-00-0000');

        $('#fecha_desde').datetimepicker({
            locale: 'es',
            format: 'DD-MM-YYYY'
        });

        $('#fecha_hasta').datetimepicker({
            locale: 'es',
            format: 'DD-MM-YYYY'
        });


        var perfil = "@ViewBag.idPerfil"

       // alert(@ViewBag.idPerfil)

        if (perfil == 3 || perfil == 2) {
            desactivarLink('btnReservar');
            desactivarBtn('btnConsultar');
            desactivarBtn('btn_disponibilidad');
        }


    });

    function soloNumeros(e) {

        var key = window.Event ? e.which : e.keyCode

        return (key >= 48 && key <= 57)

    }

    function enviar() {

        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();




        if (!validate_fechaMayorQue(fecha_desde, fecha_hasta)) {
            alert("La fecha desde no puede ser mayor a la fecha hasta.");
        } else {
            //submit

            document.frm.submit();
        }

    }

    function validate_fechaMayorQue(fechaInicial, fechaFinal) {
        valuesStart = fechaInicial.split("-");
        valuesEnd = fechaFinal.split("-");

        // Verificamos que la fecha no sea posterior a la actual
        var dateStart = new Date(valuesStart[2], (valuesStart[1] - 1), valuesStart[0]);
        var dateEnd = new Date(valuesEnd[2], (valuesEnd[1] - 1), valuesEnd[0]);
        if (dateStart > dateEnd) {
            return 0;
        }
        return 1;
    }



</script>

    <!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">


        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Lugares de Hospedaje</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Lugares de Hospedaje</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="mainContent clearfix blogPage singleBlog">
    <div class="container">


        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 sideBar">

                <div class="panel panel-default">

                    <div class="panel-heading">Consultar Disponibilidad</div>
                    <div class="panel-body">
                            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">

                    @using (Html.BeginForm("ConsultarReserva", "Negocios", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login" ,@name="frm" }))
                    {
                        string selected = "";
                        string selected2 = "";
                        string selected3 = "";
                            
                        @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label>Fecha Desde</label>
                                    <input type="text" name="fecha_desde" id="fecha_desde" class="form-control date" placeholder="Fecha Desde" value="@Session["fecha_desde"]" />
                                </div>
                                <div class="form-group">
                                    <label>Fecha Desde</label>
                                    <input type="text" class="form-control date" id="fecha_hasta" name="fecha_hasta" placeholder="Fecha Hasta" value="@Session["fecha_hasta"]" />
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-6">
                                        <label>Cant.de Pers.</label>
                                        <select class="form-control" name="cantidad_personas">
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 1) { selected = "selected"; } else { selected = ""; } @selected>1</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 2) { selected = "selected"; } else { selected = ""; } @selected>2</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 3) { selected = "selected"; } else { selected = ""; } @selected>3</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 4) { selected = "selected"; } else { selected = ""; } @selected>4</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 5) { selected = "selected"; } else { selected = ""; } @selected>5</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 6) { selected = "selected"; } else { selected = ""; } @selected>6</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 7) { selected = "selected"; } else { selected = ""; } @selected>7</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_personas"]) == 8) { selected = "selected"; } else { selected = ""; } @selected>8</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6">
                                        <label>Cant. de Hab.</label>
                                        <select class="form-control" name="cantidad_habitaciones">
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 1) { selected2 = "selected"; } else { selected2 = ""; } @selected2>1</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 2) { selected2 = "selected"; } else { selected2 = ""; } @selected2>2</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 3) { selected2 = "selected"; } else { selected2 = ""; } @selected2>3</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 4) { selected2 = "selected"; } else { selected2 = ""; } @selected2>4</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 5) { selected2 = "selected"; } else { selected2 = ""; } @selected2>5</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 6) { selected2 = "selected"; } else { selected2 = ""; } @selected2>6</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 7) { selected2 = "selected"; } else { selected2 = ""; } @selected2>7</option>
                                            <option @if (Convert.ToInt32(Session["cantidad_habitaciones"]) == 8) { selected2 = "selected"; } else { selected2 = ""; } @selected2>8</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Tipo Hospedaje</label>
                                    <select class="form-control" name="tipo_hospedaje">
                                        <option  @if (Convert.ToString(Session["tipo_hospedaje"]) == "HOTEL") { selected3 = "selected"; } else { selected3 = ""; } @selected3>HOTEL</option>
                                        <option  @if (Convert.ToString(Session["tipo_hospedaje"]) == "COMPLEJO") { selected3 = "selected"; } else { selected3 = ""; } @selected3>COMPLEJO</option>
                                    </select>
                                </div>
                        
                                <div>
                                    <button class="btn btn-primary btn-block" id="btn_disponibilidad" onclick="enviar();" type="button">Consultar!</button>
                                </div>
             
                    }

                            </div>
                    </div>
                </div>

     
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">

     
@if (Model != null){
    
        foreach (var item in Model)
        {

                <div class="col-xs-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">

                                    <img src="/Negocios/ObtenerImagen/@item.idFoto" style="width: 100%;" class="img-responsive otracosa">

                                    <br />
                                </div>
                                <div class="col-md-5 col-xs-12">
                                    <div class="centro"><h3><a href="@Url.Action("VerHospedaje", new { id=item.idNegocio })">@item.TipoLugarHospedaje - @item.NombreNegocio</a> </h3></div>
                                    
                                    <div style="text-align:center">

      

                                    </div>


                                    <p>@Html.DisplayFor(modelItem => item.descripcion)</p>




                                </div>

                                <div class="col-md-3 col-xs-12">

          
                                    <ul class="list-inline">

                                      
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            
                                        <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
       
                                        <li><a href="#" ><i aria-hidden="true" class="fa fa-fw fa-location-arrow"></i></a></li>
             
                                    </ul>




                                </div>


                            </div>
                        </div>
                    </div>
                </div>

        }
}

            </div>
        </div>
    </div>
</section>
