@model IEnumerable<DAL.Negocio>
@using GridMvc.Html

<script type="text/javascript">

    var perfil = "@ViewBag.Perfil"
    var mensaje = "@ViewBag.Mensaje"

    $(document).ready(function () {


        if (perfil == 3) {
            $("#btnTusTramites").hide();
            $("#btnTusNegocios").hide();
            $("#btnTusTramitesAsignados").show();
        }
        else {
            $("#btnTusTramites").show();
            $("#btnTusNegocios").show();
            $("#btnTusTramitesAsignados").hide();
        }

        if (mensaje != "") {
            alert(mensaje);
        }

        $("#btnTusTramites").click(function (event) {
            window.location = '@Url.Action("TramitesUsuario","Tramites")';
            event.preventDefault();
        });

        $("#btnTusTramitesAsignados").click(function (event) {
            window.location = '@Url.Action("TramitesUsuario","Tramites")';
            event.preventDefault();
        });

        $("#btnModificarDatos").click(function (event) {
            window.location = '@Url.Action("EditUsuario","Usuarios")';
            event.preventDefault();
        });

        $("#btnTusNegocios").click(function (event) {
            window.location = '@Url.Action("NegociosUsuario","Negocios")';
            event.preventDefault();
        });
    });
</script>









<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Panel de Control</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Panel de Control</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">
 

        <div class="row">

            <div class="col-xs-12">
                <div class="btn-group" role="group" aria-label="..." style="text-align:center">

                    <a class="btn btn-default" id="btnModificarDatos" style="width:200px;">
                        MODIFICÁ TUS DATOS
                    </a>

                    <a class="btn btn-default active" id="btnTusNegocios" style="width:200px;">
                        TUS NEGOCIOS
                    </a>

                    <a class="btn btn-default" id="btnTusTramites" style="width:200px;">
                        TUS TRAMITES
                    </a>

                    <a class="btn btn-default" id="btnTusTramitesAsignados" style="width:200px;">
                        TUS TRAMITES ASIGNADOS
                    </a>

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-xs-12">
                <div class="innerWrapper">
                    <div class="orderBox myAddress">

                        <h4><strong>Tus Negocios</strong></h4>

                        @if (Model.Count() != 0)
                        {
                            @helper botonVer(DAL.Negocio n)
                            {
                                if (n.idTipoNegocio == 1)
                                {
                                                <button id="btnVerNegocio" style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("VerHospedaje","Negocios",new { id = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></button>
    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("EditHospedaje","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>




    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("GestionReservas", "Reservas", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar Reservas</button>

                                }
                                else
                                {
                                    <button id="btnVerNegocio" style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("VerComercio","Negocios",new { id = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></button>
    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("EditComercio","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
    <button style="font-size:10px; padding: 5px;" disabled class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar Reservas</button>
                                }
}


                            @Html.Grid(Model).Columns(columns =>
        {
            //columns.Add(model => model.fechaAlta).Titled("Fecha Alta");
            columns.Add(model => model.nombre).Titled("Nombre").SetWidth(30);
            columns.Add(model => model.TipoDeNegocio.nombre).Titled("Tipo").SetWidth(30);
            columns.Add(model => model.idNegocio)
                .Titled("Acción")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(40)
                .RenderValueAs(n => botonVer(n));
        }).WithPaging(10).Sortable(true)


                        }
                        else
                        {

                            <div id="NoNegocios" style="align-self:center; font-size:20px; display:none">
                                <strong>
                                    No tenés Negocios APROBADOS.
                                </strong>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>




</section>
