@model IEnumerable<DAL.Negocio>
@using GridMvc.Html


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Panel de Control</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Panel de Control</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">
 

        @Html.Partial("_Botonera")




        <div class="row">
            <div class="col-xs-12">
                <div class="innerWrapper">
                    <div class="orderBox myAddress">

                        <h4><strong>Tus Negocios</strong></h4>

                        <a href="@Url.Action("Nuevo", "Negocios")" id="alta_negocio" class="btn btn-default btn-block active"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo Negocio</a>

                        @if (Model.Count() != 0)
                        {
                            @helper botonVer(DAL.Negocio n)
                            {
                                if (n.idTipoNegocio == 1)
                                {
                                    if(n.estaAnulado == null)
                                    {
                                        <button id="btnVerNegocio" style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("VerHospedaje","Negocios",new { id = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></button>
                                        <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("EditHospedaje","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("SolicitarBajaNegocio", "Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="DAR DE BAJA"><i class="fa fa-close"></i></button>
                                        
                                    }
                                    else
                                    { 
                                        <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("SolicitarRepublicacion", "Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">RE-PUBLICAR</button>
                                        <button id="btnVerNegocio" style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("VerHospedaje","Negocios",new { id = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></button>
                                        <button style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("EditHospedaje","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
                                        <button style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("SolicitarBajaNegocio", "Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-warning tooltips" data-placement="top" data-original-title="DAR DE BAJA"><i class="fa fa-edit"></i></button>
                                       
                                    }

                                   if(n.LugarHospedaje.FirstOrDefault().moduloReservas==true)
                                       { 
                                    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("GestionReservas", "Reservas", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar Reservas</button>
                                       }
                                   else
                                   {

                                    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("GestionDisponibilidad", "Reservas", new { idNegocio = n.idNegocio , idTipo=n.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar Disponibilidad</button>
                                    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("SolicitarModulo", "Reservas", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Solicitar Modulo Gestión de Reservas</button>
                                 
                                   }
                                }
                                else
                                {
                                    if (n.estaAnulado == null)
                                    {
                                        <button id="btnVerNegocio" style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("VerComercio","Negocios",new { id = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></button>
    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("EditComercio","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
    <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("SolicitarBajaNegocio","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="DAR DE BAJA"><i class="fa fa-close"></i></button>
                                        <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("PromocionesNeg", "Promociones", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Promociones</button>
                                    }
                                    else
                                    {
                                        <button style="font-size:10px; padding: 5px;" onclick="window.location = '@Url.Action("SolicitarRepublicacion", "Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">RE-PUBLICAR</button>
                                        <button id="btnVerNegocio" style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("VerComercio","Negocios",new { id = n.idNegocio })'" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></button>
                                        <button style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("EditComercio","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
                                        <button style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("SolicitarBajaNegocio","Negocios", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-warning tooltips" data-placement="top" data-original-title="DAR DE BAJA"><i class="fa fa-edit"></i></button>
                                        <button style="font-size:10px; padding: 5px;" disabled onclick="window.location = '@Url.Action("PromocionesNeg", "Promociones", new { idNegocio = n.idNegocio })'" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Promociones</button>
                                    }


                                    
                                    <button style="font-size:10px; padding: 5px;" disabled class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar Reservas</button>
                                }
                            }
                            
                            @helper estado(DAL.Negocio n)
                            {
    
                                if(n.estaAnulado == null)
                                { 
                                    <span style="font-weight:normal;">PUBLICADO</span>
                                }
                                else
                                {
                                    if ((bool)n.estaAnulado)
                                    {
                                       <span style="font-weight:normal;">ANULADO</span>
                                    }
                                    else
                                    {
                                        <span style="font-weight:normal;">ANULADO</span>
                                    }
                                }
                             }

                            @Html.Grid(Model).Columns(columns =>
        {
            //columns.Add(model => model.fechaAlta).Titled("Fecha Alta");
            columns.Add(model => model.nombre).Titled("Nombre").SetWidth(30);
            columns.Add(model => model.TipoDeNegocio.nombre).Titled("Tipo").SetWidth(30);
            columns.Add().Titled("Estado")
                   .Encoded(false)
                   .Sanitized(false)
                   .SetWidth(40)
                   .RenderValueAs(n => estado(n));
            columns.Add(model => model.idNegocio)
                .Titled("Acción")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(40)
                .RenderValueAs(n => botonVer(n));
            
        }).WithPaging(10).Sortable(true)


                        }
                        else
                        {

                            <div id="NoNegocios" style="align-self:center; font-size:20px; display:none">
                                <strong>
                                    No tenés Negocios APROBADOS.
                                </strong>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>

        <a href="javascript:history.back()" class="btn btn-info" style="padding:10px; margin-top:20px; width: 200px;">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Volver
        </a>


    </div>




</section>
