@model DAL.Promociones

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Promociones</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idPromocion)

        <div class="form-group">
            @Html.LabelFor(model => model.fechaAlta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaAlta)
                @Html.ValidationMessageFor(model => model.fechaAlta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaVencimiento)
                @Html.ValidationMessageFor(model => model.fechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.titulo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulo)
                @Html.ValidationMessageFor(model => model.titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion)
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diasBeneficio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diasBeneficio)
                @Html.ValidationMessageFor(model => model.diasBeneficio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idNegocio, "idNegocio", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idNegocio", String.Empty)
                @Html.ValidationMessageFor(model => model.idNegocio)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
