@model IEnumerable<BussinesEntities.PromocionesOtorgadasUsuario>
@using GridMvc.Html




<script>

    function imprimirPromocion(negocio,promocion,obtenida,vence,codigo) {
        $("#imp_negocio").html(negocio);
        $("#imp_descripcion").html(promocion);
        $("#imp_codigo").html("Codigo: " + codigo);
        $("#imp_fecha_vto").html("Presentando este cupon en nuestros locales podes acceder a nuestras promociones. Recuerda que tienens tiempo hasta el " + vence);
        //$("#imprime").printArea();
        //$("#imprime").show();
        //$("#imprime").print();

        $('#myModal').modal('show');
        
    }

    function imprimirTicket() {
        $("#imprime").print();
    }

</script>



<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Panel de Control</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Panel de Control</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">
 

       @Html.Partial("_Botonera")



        <div class="row">
            <div class="col-xs-12">
                <div class="innerWrapper">
                    <div class="orderBox myAddress">



                        <br />

                        @if (Model.Count() > 0)
                        {

                            @helper botonVer(BussinesEntities.PromocionesOtorgadasUsuario n)
{

                            <button style="font-size:10px; padding: 5px;" onclick="return imprimirPromocion('@n.NEGOCIO','@n.PROMOCION','@n.OBTENIDA','@n.VENCE','@n.CODIGO');" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Imprimir</button>

}


                            @Html.Grid(Model).Columns(columns =>
                               {
                                   //columns.Add(model => model.fechaAlta).Titled("Fecha Alta");
                                   columns.Add(model => model.NEGOCIO).Titled("Negocio").SetWidth(30);
                                   columns.Add(model => model.PROMOCION).Titled("Promoción").SetWidth(100);
                                   columns.Add(model => model.OBTENIDA).Titled("Obtenida").SetWidth(20);
                                   columns.Add(model => model.VENCE).Titled("Vence").SetWidth(30);
                                   columns.Add(model => model.CODIGO).Titled("Codigo").SetWidth(30);
                                   columns.Add(model => model.ESTADO).Titled("Estado").SetWidth(30);
                                   columns.Add(model => model.ID)
                                    .Titled("Acción")
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .SetWidth(40)
                                    .RenderValueAs(n => botonVer(n));
                               }).WithPaging(10).Sortable(true)


                        }
                        else
                        {

                            <div id="NoNegocios" style="align-self:center; font-size:20px;">
                                <strong>
                                    No tienes promociones.
                                </strong>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Imprimir Ticket</h4>
            </div>
            <div class="modal-body">
                <div id="imprime">
                    <div style="border: 1px dashed rgba(177, 13, 20, 1); padding: 10px;margin:40px;   text-align: center;">
                        <div><img src="~/Content/img/descuento.png" /></div>
                        <div id="imp_negocio" style="font-size: 30px;padding: 10px; color:rgba(177, 13, 20, 1)"></div>
                        <div id="imp_descripcion" style="font-size: 20px;padding: 10px;"></div>
                        <div id="imp_codigo" style="font-size: 20px;padding: 10px;"></div>
                        <div id="imp_fecha_vto" style="font-style: italic;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="imprimirTicket();" class="btn btn-primary" style="background: yellowgreen; color:white;padding:10px;">Imprimir</button>
            </div>
        </div>
    </div>
</div>
