@{
    ViewBag.Title = "Panel de Control";
}
@model BussinesEntities.UsuarioEntity



<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>MODIFICA TUS DATOS</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="home">INICIO</a>
                    </li>
                    <li class="active">MODIFICA TUS DATOS</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="mainContent clearfix userProfile">
    <div class="container">

        @Html.Partial("_Botonera")


        <div class="panel panel-white" style="width:1190px;">
 
            <div class="panel-body">

                <div style="font-size:15px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>Usuario:</strong> @Model.nombreUsuario</div>
                <div style="font-size:15px;"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> <strong>Perfil:</strong> @Html.DisplayFor(model => model.Perfiles.nombre)</div>
                <hr />
     

                @using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    
                    <br />

                    <div class="form-horizontal">
              
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.idUsuario)

                        <div class="form-group">
                            @Html.Label("Nombre de Usuario:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.nombreUsuario, new { @class = "form-control", style = "width:300px;" })
                                @Html.ValidationMessageFor(model => model.nombreUsuario)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Password:", new { @class = "control-label  col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.password, new { @class = "form-control", style = "width:300px;" })
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Confirmar Password:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.confirmarPassword, new { @class = "form-control", style = "width:300px;" })
                                @Html.ValidationMessageFor(model => model.confirmarPassword)
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.Label("idPerfil", "Perfil:", new { @class = "control-label col-md-2", id = "lblPerfil", style = "display:none" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.idPerfil, (SelectList)ViewBag.Perfiles, "-- SELECCIONA EL PERFIL --", new { id = "ddlPerfiles", style = "display:none" })
                                @Html.ValidationMessageFor(model => model.idPerfil)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-10">
                                <input type="submit" value="GUARDAR" class="btn btn-green" style="background: yellowgreen; color:white;padding:10px;" />
                            </div>
                        </div>
                    </div>
                }



            </div>
     
        </div>



    </div>
</section>


