@model BussinesEntities.NegocioEntity



    <script type="text/javascript">

    var perfil = @ViewBag.Perfil

    $(document).ready(function () {
        if (perfil == 4) {
            $("#ddlPerfiles").show();
            $("#lblPerfil").show();
        }

        $("#btnComplejo").click(function () {
            window.location = '@Url.Action("NuevoComplejo","Negocios")';
           // $("#divLugarHospedaje").load('Url.Action("NuevoComplejo","Negocios")');
        });

        $("#btnHotel").click(function () {
            window.location = '@Url.Action("NuevoHotel","Negocios")';
            //$("#divLugarHospedaje").load('Url.Action("NuevoHotel","Negocios")');
        });

        $("#btnCasaODpto").click(function () {
            window.location = '@Url.Action("NuevoCasaODpto","Negocios")';
           // $("#divLugarHospedaje").load('Url.Action("NuevoCasaODpto","Negocios")');
        });

    });

    </script>


           
           <div class="col-lg-offset-4" >
               @Html.Label("¿QUE TIPO DE LUGAR DE HOSPEDAJE QUERÉS REGISTRAR?")
           </div>
            
  

            <div class="col-md-3"></div>
 
            <div class="col-md-2">
                <button type="button" class="btn btn-blue btn-block btn-lg" style="background: rgba(177, 13, 20, 1); color:white;" data-color="mint" data-style="expand-right" data-size="xl" id="btnComplejo">COMPLEJO</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-blue btn-block btn-lg" style="background: rgba(177, 13, 20, 1); color:white;" data-color="mint" data-style="expand-right" data-size="xl" id="btnHotel">HOTEL</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-blue btn-block btn-lg" style="background: rgba(177, 13, 20, 1); color:white;" data-color="mint" data-style="expand-right" data-size="xl" id="btnCasaODpto">CASA/DEPTO</button>
            </div>
            <div class="col-md-3"></div>

            <div id="divLugarHospedaje">

            </div>
       
