@model BussinesEntities.EncuestaEntity
@{
    ViewBag.Title = "Nueva Encuesta";
}

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>NUEVA ENCUESTA</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="home">INICIO</a>
                    </li>
                    <li class="active">NUEVA ENCUESTA</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
              
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, "Nombre: ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", style = "width:300px;" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descripcion, "Descripción: ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control", style = "width:300px;" })
                        @Html.ValidationMessageFor(model => model.descripcion)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.idTipoEncuesta, "Tipo: ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("idTipoEncuesta", null, String.Empty, new { @class = "form-control", style = "width:300px;" })
                        @Html.ValidationMessageFor(model => model.idTipoEncuesta)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                    </div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.setearComoActiva) @Html.Label("Setear como activa")
                        </div>
                    </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="CREAR ENCUESTA" class="btn btn-default" style="background: yellowgreen; color:white;padding:10px;" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("VOLVER A ENCUESTAS", "EncuestasIndex")
        </div>

    
    </div>
</section>


