@model BussinesEntities.EncuestaEntity
@{
    ViewBag.Title = "Responder Encuesta";
}

<h2>Responder Encuesta</h2>
<br />

@{
    int idEncuestaAsignada = ViewBag.IdEncuestaAsignada;
}

<div>
    @ViewBag.Error
</div>

<br />

@using (Html.BeginForm(new { idEncuestaAsignada = idEncuestaAsignada }))
{
    @Html.AntiForgeryToken()
    int i = 0;
    string ultClasifPregunta="";
    
    @Html.HiddenFor(m => m.idEncuesta)
    
    foreach (var item in Model.Preguntas1)
    {
        if (ultClasifPregunta!=item.ClasifPregunta.nombre)
        {
            ultClasifPregunta = item.ClasifPregunta.nombre;
            <h4 style="color:grey">@item.ClasifPregunta.nombre</h4>
        }            
            
            @Html.HiddenFor(m => m.Preguntas1[i].ClasifPregunta.nombre)     

             <h5>@item.textoPregunta</h5>
             <br />
              
        string preg = "preg_" + i;  
        
        @Html.HiddenFor(m => m.Preguntas1[i].idPregunta)            
        @Html.LabelFor(m => m.Preguntas1[i].idPregunta, String.Empty);
                
                int j = 0;
                foreach (var it in item.TiposRespuesta.RespuestasPosiblesArray)
                {                  
                    @Html.RadioButtonFor(m => m.Preguntas1[i].respuesta, it.valor)                      
                    @Html.HiddenFor(m => m.Preguntas1[i].TiposRespuesta.RespuestasPosiblesArray[j].valor)            
    
                    <text> @it.nombre </text>
                    @Html.HiddenFor(m => m.Preguntas1[i].TiposRespuesta.RespuestasPosiblesArray[j].nombre)
                    j++;
                }


            i++;

            <br />
            <br />
            <br />
            <br />
    }


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ENVIAR ENCUESTA" class="btn btn-default" />
                </div>
            </div>
}

            <div>
                @Html.ActionLink("VOLVER A ENCUESTAS", "EncuestasIndex")
            </div>
