@model IEnumerable<BussinesEntities.PreguntasEntity>

@{
    ViewBag.Title = "Encuesta";
    BussinesEntities.EncuestaEntity encuesta = ViewBag.Encuesta;
}

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                
                    <h2>ENCUESTA: @encuesta.nombre</h2>
                
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="home">INICIO</a>
                    </li>
                    <li class="active">ENCUESTAS</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">
        
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-6">
                <div style="font-size:20px;margin-top:10px;"><strong>Tipo de Encuesta: </strong>@encuesta.TiposEncuesta.nombre</div>
                <br />
                <br />
                @{
                    
                    
                    bool activa = (bool)encuesta.esActiva;
                                        
                    if(activa)
                    {
                        <div style="font-size:20px;margin-top:10px;"><strong>Estado: </strong>ACTIVA</div>
                    }
                    else
                    {
                        <div style="font-size:20px;margin-top:10px;"><strong>Estado: </strong>INACTIVA</div>
                    }                
                    
                }
                
            </div>

            
        </div>

        <br />
        <br />
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-6">
                <div style="font-size:20px;margin-top:10px;"><strong>Listado de Preguntas</strong></div>
            </div>

            <div class="col-md-6" style="text-align:right;">
                @{
                    int idEncuesta = ViewBag.IdEncuesta;          
                }

            </div>
        </div>

     
        <table class="table">
            <tr>
                <th>
                    CATEGORIA
                </th>
                <th>
                    TEXTO
                </th>
                <th>
                    TIPO DE RESPUESTA
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClasifPregunta.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.textoPregunta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TiposRespuesta.nombre)
                    </td>
                </tr>
            }

        </table>    
         
    </div>
</section>

