@model BussinesEntities.NegocioEntity

<script type="text/javascript">


    function consultarReserva(nro_reserva) {

        $('#nro_reserva').html(nro_reserva);


        $('#myModal').modal('show');
        listarComentarios();

        return false;
    }

    function listarComentarios() {

        var nro_reserva = $("#nro_reserva").html();

        $.ajax({
            type: 'GET',
            url: 'ListadoDeComentario?idSolicitud=' + nro_reserva,
            success: function (response) {
                $("#consultas").html(response);
                actualizar_Comentarios_Leidos();
            }
        })

    }

    function anularReserva() {
        var nro_reserva = $("#nro_reserva").html();

        var result = confirm("Realmente quiere anular la reserva");

        if (result) {
            $.ajax({
                type: 'GET',
                url: 'AnularReserva?id=' + nro_reserva,
                success: function (response) {
                    planoListadoReserva()
                    planoReserva()
                    $('#myModal').modal('hide');
                }
            })
        }
    }

    function checkin(id) {
        var nro_reserva = id;

        var result = confirm("Realmente quiere hacer el check-in.");

        if (result) {
            $.ajax({
                type: 'GET',
                url: 'CheckInReserva?id=' + nro_reserva,
                success: function (response) {
                    planoListadoReserva()
                    planoReserva()
                    $('#myModal').modal('hide');
                }
            })
        }
    }

    function checkout(id) {
        var nro_reserva = id;

        var result = confirm("Realmente quiere hacer el check-out.");

        if (result) {
            $.ajax({
                type: 'GET',
                url: 'CheckOutReserva?id=' + nro_reserva,
                success: function (response) {
                    planoListadoReserva()
                    planoReserva()
                    $('#myModal').modal('hide');
                }
            })
        }
    }

    function actualizar_Comentarios_Leidos() {

        var nro_reserva = $("#nro_reserva").html();
        $.ajax({
            type: 'GET',
            url: 'Actualizar_Comentarios_Leidos?id=' + nro_reserva,
            success: function (response) {
                planoListadoReserva()
                planoReserva()
            }
        })
    }

    function enviarConsulta() {

        if ($("#consultareserva").val() != "") {

            var fdata = new FormData();

            fdata.append("nro_reserva", $("#nro_reserva").html());

            fdata.append("consultareserva", $("#consultareserva").val());

            fdata.append("filereserva", $("#filereserva")[0].files[0]);

            fdata.append("comentarioCliente", "0");


            $.ajax({
                type: 'POST',
                url: 'GuardarConsulta',
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#consultas").html(response);
                    $("#filereserva").val('');
                    $("#consultareserva").val('');
                }
            })

        } else {
            alert("Debe enviar un comentario.");
        }


    }


</script>



<style>
    .reserva-pregunta {
        margin-left: 40px;
        padding: 10px;
        background-color: gray;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .reserva-respuesta {
        margin-right: 40px;
        padding: 10px;
        background-color: rgba(177, 13, 20, 1);
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .reserva-pregunta-imagen {
        margin-left: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .reserva-respuesta-imagen {
        text-align: right;
        padding: 10px;
        border-radius: 10px;
    }


    .reserva-fecha-comentario {
        text-align: right;
        font-size: 10px;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        height: 400px;
        overflow: auto;
    }
</style>


<script>


    

    $(document).ready(function () {
        planoReserva();
    });


</script>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Gestion de Reservas</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Gestion de Reservas</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="mainContent clearfix userProfile">
    <div class="container">


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Consultar Reserva Nro: <span id="nro_reserva"></span></h4>
                        <button type="button" onclick="anularReserva()" class="btn btn-link">
                            Anular Reserva
                        </button>
                    </div>
                    <div id="mensajes" class="modal-body">

                        <div id="consultas"></div>


                    </div>
                    <div class="modal-footer">
                        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                        <input type="file" id="filereserva" name="filereserva">
                        <textarea class="form-control" rows="3" id="consultareserva" name="consultareserva"></textarea>

                        <button type="button" onclick="enviarConsulta()" class="btn btn-link">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            Enviar Mensaje
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div><h3><strong>@Model.nombre</strong></h3></div>
        <div class="row">

            <div class="col-xs-12 col-md-2">

                @{
                    if (Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje == 2)
                    {<br />
                    <button class="btn btn-success btn-lg btn-block" style="background-color: rgba(177, 13, 20, 1);" id="btnTusDptosOCabana" onclick="window.location = '@Url.Action("TusDptosOCabanas", "Reservas", new { idLugarHospedaje = Model.LugarHospedaje.FirstOrDefault().idLugarHospedaje })'">
                        TUS DPTOS Ó CABAÑAS
                    </button><br />
                    }
                    else
                    {<br />
                <button class="btn btn-success btn-lg btn-block" style="background-color: rgba(177, 13, 20, 1);" id="btnTusHabitaciones" onclick="window.location = '@Url.Action("TusHabitaciones","Reservas", new { idLugarHospedaje = Model.LugarHospedaje.FirstOrDefault().idLugarHospedaje })'">
                    TUS HABITACIONES
                </button><br />
                    }
                }


                <button class="btn btn-success btn-lg btn-block" style="background-color: rgba(177, 13, 20, 1);" id="btnSolicitudes" onclick="window.location = '@Url.Action("SolicitudesReserva", "Reservas", new { idNegocio = Model.idNegocio, tipo = Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje })'">
                    SOLICITUDES
                </button><br />

                <button class="btn btn-success btn-lg btn-block" style="background-color: rgba(177, 13, 20, 1);" id="btnSolicitudes" onclick="window.location = '@Url.Action("VerSolicitudReserva", "Reservas", new { idNegocio = Model.idNegocio, idSolicitud = 0, tipo = Model.LugarHospedaje.FirstOrDefault().idTipoLugarHospedaje })'">
                    CREAR RESERVA
                </button><br />


                <div>
                    <img alt="" src="@Url.Content("~/Content/img/icono_bandera_amarilla.png")" /> <strong> (Reservado)</strong>
                </div>


            </div>
            <div class="col-xs-12 col-md-10">



                @{

                    DateTime Hoy = DateTime.Today;
                    var anio = Hoy.Year;
                    var mes = Hoy.ToString("MMMM").ToUpper();
                    var valueMes = Hoy.Month;
                    var selected = "selected=selected";
                }


                <script>

                    function daysInMonth(humanMonth, year) {
                        return new Date(year || new Date().getFullYear(), humanMonth, 0).getDate();
                    }

                    function planoListadoReserva() {
                        var idNegocio = '@Model.idNegocio';
                        var mes = $('#month option:selected').val();
                        var anio = $('#year option:selected').val();
                        var dias = daysInMonth(mes, anio);
                        var year = $("#year").val();
                        var url = 'ListadoPlanoReserva/?dias=' + dias + '&mes=' + mes + "&idNegocio=" + idNegocio + "&year=" + year;
                        $.ajax({
                            url: url,
                            type: "get",
                            cache: false,
                            success: function (retorno) {
                                $("#planolistadoreserva").html(retorno);
                            },
                            error: function () {

                            }
                        });

                    };

                    function planoReserva() {
                        var idNegocio = '@Model.idNegocio';
                        var mes = $('#month option:selected').val();
                        var anio = $('#year option:selected').val();
                        var dias = daysInMonth(mes, anio);
                        var year = $("#year").val();
                        var url = 'PlanoReserva/?dias=' + dias + '&mes=' + mes + "&idNegocio=" + idNegocio + "&year=" + year;
                        $.ajax({
                            url: url,
                            type: "get",
                            cache: false,
                            success: function (retorno) {
                                $("#planoreserva").html(retorno);
                                planoListadoReserva();
                            },
                            error: function () {

                            }
                        });

                    };

                    function ver_grafico() {

                        $("#planoreserva").show();
                        $("#planolistadoreserva").hide();
                        return false;
                    };

                    function ver_listado() {
                        $("#planoreserva").hide();
                        $("#planolistadoreserva").show();
                        return false;
                    };

                    $(document).ready(function () {
                        $("#planolistadoreserva").hide();
                    });




</script>


                <div class="row">

                    <div class="col-xs-12" style="padding-top:10px;">
                        <h4 class="page-header">
                            Calendario de Ocupación.
                        </h4>
                    </div>
                </div>



                <div class="row">

                    <div class="col-xs-12 col-md-6">

                        <div class="form-group">
                            <label>Año</label>

                            <select class="form-control" id="year" onchange="planoReserva();">

                                @{
                                    for (int i = 2005; i < 2030; i++)
                                    {
                                        <option value="@i" @if (anio == i) { @selected        ; }>@i</option>
                                    }
                                }

                            </select>

                        </div>

                    </div>

                    <div class="col-xs-12 col-md-6">

                        <div class="form-group">
                            <label>Mes</label>

                            <select class="form-control" id="month" onchange="planoReserva();">
                                <option value="01" @if (valueMes == 01) { @selected      ; }>ENERO</option>
                                <option value="02" @if (valueMes == 02) { @selected      ; }>FEBRERO</option>
                                <option value="03" @if (valueMes == 03) { @selected      ; }>MARZO</option>
                                <option value="04" @if (valueMes == 04) { @selected      ; }>ABRIL</option>
                                <option value="05" @if (valueMes == 05) { @selected      ; }>MAYO</option>
                                <option value="06" @if (valueMes == 06) { @selected      ; }>JUNIO</option>
                                <option value="07" @if (valueMes == 07) { @selected      ; }>JULIO</option>
                                <option value="08" @if (valueMes == 08) { @selected      ; }>AGOSTO</option>
                                <option value="09" @if (valueMes == 09) { @selected      ; }>SEPTIEMBRE</option>
                                <option value="10" @if (valueMes == 10) { @selected      ; }>OCTUBRE</option>
                                <option value="11" @if (valueMes == 11) { @selected      ; }>NOVIEMBRE</option>
                                <option value="12" @if (valueMes == 12) { @selected      ; }>DICIEMBRE</option>
                            </select>


                        </div>

                    </div>



                </div>

                <a href="#" onclick="return ver_grafico();">Ver Grafico</a> | <a href="#" onclick="return ver_listado();">Ver Listado</a>

                <div id="planoreserva"></div>
                <div id="planolistadoreserva"></div>



            </div>

        </div>



    </div>

</section>

