@model BussinesEntities.ReservasUsuarioEntity
@using GridMvc.Html

<script type="text/javascript">

    function actualizar_Comentarios_Leidos() {

        var nro_reserva = $("#nro_reserva").html();
        var nro_solicitud = $("#nro_solicitud").html();

        $.ajax({
            type: 'GET',
            url: 'Actualizar_Comentarios_Leidos?id=' + nro_reserva + '&nro_solicitud=' + nro_solicitud + '&cliente=false',
            success: function (response) {
                //Se tendria que refrescar la pagina pero se va a cerrar el modal ya que el listado no es por ajax
            }
        })

    }



    function consultarReserva(nro_solicitud, nro_reserva) {

        $('#nro_reserva').html(nro_reserva);
        $('#nro_solicitud').html(nro_solicitud);


        $('#myModal').modal('show');
        listarComentarios();

        return false;
    }

    function anularReserva() {
        var nro_reserva = $("#nro_reserva").html();


        var result = confirm("Realmente quiere anular la reserva");

        if (result) {
            $("#consultareserva").val('[Solicitud de cancelacion de reserva Nro: ' + nro_reserva + ']');
            enviarConsulta();
            $('#myModal').modal('hide');
            location.reload();
        }
    }

    function listarComentarios() {

        var nro_reserva = $("#nro_reserva").html();
        var nro_solicitud = $("#nro_solicitud").html();

        //alert(nro_reserva);
        //alert(nro_solicitud);

        $.ajax({
            type: 'GET',
            url: 'ListadoDeComentario?idSolicitud=' + nro_solicitud + '&idReserva=' + nro_reserva,
            success: function (response) {
                $("#consultas").html(response);
                actualizar_Comentarios_Leidos();
            }
        })

    }

    function enviarConsulta() {

        if ($("#consultareserva").val() != "") {

            var fdata = new FormData();

            fdata.append("nro_reserva", $("#nro_reserva").html());
            fdata.append("nro_solicitud", $("#nro_solicitud").html());
            fdata.append("consultareserva", $("#consultareserva").val());

            fdata.append("filereserva", $("#filereserva")[0].files[0]);

            fdata.append("comentarioCliente", "1");


            $.ajax({
                type: 'POST',
                url: 'GuardarConsulta',
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#consultas").html(response);
                    $("#filereserva").val('');
                    $("#consultareserva").val('');
                }
            })

        } else {
            alert("Debe enviar un comentario.");
        }


    }


</script>




<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Panel de Control</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Panel de Control</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<style>

    .reserva-pregunta{
        margin-left:40px;
        padding: 10px;
        background-color:gray;
        color: white;
        border-radius: 10px;
        margin-bottom:10px;
    }

    .reserva-respuesta{
        margin-right: 40px;
        padding: 10px;
        background-color:rgba(177, 13, 20, 1);
        color: white;
        border-radius: 10px;
        margin-bottom:10px;
    }

    .reserva-pregunta-imagen{
        margin-left:40px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom:10px;
    }

    .reserva-respuesta-imagen{
        text-align: right;
        padding: 10px;
        border-radius: 10px;
    }


    .reserva-fecha-comentario{
        text-align:right;
        font-size: 10px;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        height: 400px;
        overflow: auto;
    }


</style>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Consultar Reserva Nro: <span id="nro_reserva"></span><span id="nro_solicitud" style="display:none"></span></h4>
                        <button type="button" onclick="anularReserva()" class="btn btn-link">
                            Anular Reserva
                        </button>
                    </div>
                    <div id="mensajes" class="modal-body">

                        <div id="consultas"></div>


                    </div>
                    <div class="modal-footer">
                        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                        <input type="file" id="filereserva" name="filereserva">
                        <textarea class="form-control" rows="3" id="consultareserva" name="consultareserva"></textarea>
          
                        <button type="button" onclick="enviarConsulta()" class="btn btn-link">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        Enviar Mensaje</button>
                    </div>
                </div>
            </div>
        </div>



        @Html.Partial("_Botonera")



        <div class="row">
            <div class="col-xs-12">
                <div class="innerWrapper">
                    <div class="orderBox myAddress">
                                               
                        @if (Model.solicitudes.Count() != 0)
                        {
                            <h4><strong>Tus Solicitudes</strong></h4>


                           @helper botonVerSolicitud(BussinesEntities.SolicitudesUsuarioEntities n)
    {
        if (n.idPersona != null)
        {

            string desactivado = "";


           
               
            



                        <button style="font-size:10px; padding: 5px;" @desactivado onclick="return consultarReserva('@n.idSolicitud',0);" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar</button>

        }
        }




                            @Html.Grid(Model.solicitudes).Columns(columns =>
        {
            
            columns.Add(model => model.idSolicitud).Titled("Nro Solicitud").SetWidth(30);
            columns.Add(model => model.FechaDesde).Titled("Fecha Desde").SetWidth(30);
            columns.Add(model => model.fechaHasta).Titled("Fecha Hasta").SetWidth(30);
            columns.Add(model => model.cantidadLugares).Titled("Cantidad de Lugares").SetWidth(30);
            columns.Add(model => model.cantidadPersonas).Titled("Cantidad de Personas").SetWidth(30);
            columns.Add(model => model.Negocio).Titled("Negocio").SetWidth(30);
            columns.Add(model => model.Mensaje).Titled("Mensaje").SetWidth(30);
            columns.Add(model => model.MensajesSinLeer).Titled("Mensajes Sin Leer").SetWidth(30);
            columns.Add(model => model.idPersona)
              .Titled("Acción")
              .Encoded(false)
              .Sanitized(false)
              .SetWidth(40)
              .RenderValueAs(n => botonVerSolicitud(n));
        }).WithPaging(10).Sortable(true)


                        }
                        else
                        {

                            <div id="NoNegocios" style="align-self:center; font-size:20px; display:none">
                                <strong>
                                    No tenés Negocios APROBADOS.
                                </strong>
                            </div>

                        }

                        <h4><strong>Tus Reservas</strong></h4>

                        @if (Model.reservas.Count() != 0)
                        {
                            @helper botonVer(BussinesEntities.ReservasUsuarioEntities n)
                            {
                                if (n.idPersona != null)
                                {

                                    string desactivado = "";


                                    if (n.EstadoReserva == "RESERVA_ANULADA" || n.EstadoReserva == "CHECK-IN" || n.EstadoReserva == "CHECK-OUT")
                                    {
                                        desactivado = "disabled";
                                    }

        
     
                                    <button style="font-size:10px; padding: 5px;" @desactivado onclick="return consultarReserva('@n.idSolicitud','@n.idReserva');" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Editar">Gestionar</button>

                                }
                            }


                            @Html.Grid(Model.reservas).Columns(columns =>
        {
            //columns.Add(model => model.fechaAlta).Titled("Fecha Alta");
            columns.Add(model => model.idReserva).Titled("Nro de Reserva").SetWidth(30);
            columns.Add(model => model.idSolicitud).Titled("Nro de Solicitud").SetWidth(30);
            columns.Add(model => model.FechaDesde).Titled("Fecha Desde").SetWidth(30);
            columns.Add(model => model.fechaHasta).Titled("Fecha Hasta").SetWidth(30);
            columns.Add(model => model.EstadoReserva).Titled("Estado Reserva").SetWidth(30);
            columns.Add(model => model.TipoHabitacion).Titled("Tipo Habitación").SetWidth(30);
            columns.Add(model => model.Negocio).Titled("Negocio").SetWidth(30);
            columns.Add(model => model.idPersona)
                .Titled("Acción")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(40)
                .RenderValueAs(n => botonVer(n));
        }).WithPaging(10).Sortable(true)


                        }
                        else
                        {

                            <div id="NoNegocios" style="align-self:center; font-size:20px; display:none">
                                <strong>
                                    No tenés Negocios APROBADOS.
                                </strong>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>




</section>


<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel2"></h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" style="width:100%; height:100%" id="img_modal" src="">
            </div>
            <div class="modal-footer">

                <a class="btn btn-default" style="padding: 10px;" data-dismiss="modal" href="javascript:void(0);">Cerrar</a>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function modal(id) {
        $("#myModalLabel2").html('Foto');
        var src = $("#foto_" + id).attr("src");
        $("#img_modal").attr("src", src);
        $('#myModal3').modal('show');
    };


</script>



