@{
    ViewBag.Title = "Gestion de Reportes";
}


<script>


    $(document).ready(function () {

        $('.date').mask('00-00-0000');

        $('#fecha_desde').datetimepicker({
            locale: 'es',
            format: 'DD/MM/YYYY'
        });

        $('#fecha_hasta').datetimepicker({
            locale: 'es',
            format: 'DD/MM/YYYY'
        });


    });

    var textoPDF = "";

    function armar_pdf() {

        var id_canvas = $("#elmento_grafico").val();
        //var canvas = document.getElementsByTagName(id_canvas);

        var canvas = document.querySelector('#' + id_canvas);

        //creates image
        var dataURL = canvas.toDataURL();

        var nombre = '@ViewBag.nombre_reporte';

        var date = Date.now();

        var pdf = new jsPDF();
        pdf.text(15, 15, '@ViewBag.nombre_reporte');


        var tR = $("#tipo_reporte").val();
        var n = $("#Negocios :selected").text();
        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();

        pdf.setFontSize(11);


        pdf.text(28, 30, "Fecha desde: " + fecha_desde + " - Fecha Hasta: " + fecha_hasta + "\n\n" + textoPDF);


        pdf.addImage(dataURL, 'JPEG', 0, 70, 200, 100);// el 0 representa a la distancia que toma el grafico con respecto al top
        pdf.save(nombre + "_" + date + ".pdf");

    }


    function armar_graficoTorta() {

        var tipo_reporte = $("#tipo_reporte").val();
       
        var nombre_reporte = "@ViewBag.nombre_reporte";
        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();
        

        $("#resultado").hide();
        $("#cargando_grafico").show();

        $.ajax({
            type: 'GET',
            url: 'DataGraficoTortaDinamico?tipo_reporte=' + tipo_reporte + '&nombre_reporte=' + nombre_reporte + '&fecha_desde=' + fecha_desde + '&fecha_hasta=' + fecha_hasta ,
            success: function (response) {

                var valores = [];
                var etiquetas = [];

                var tPDF = "";

                response.forEach(function (element) {
                    valores.push(element.Valor);
                    etiquetas.push(element.Campo);

                    tPDF = tPDF + element.Campo + ': ' + element.Valor + '\n';
                });

                textoPDF = tPDF;

                var config = {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: valores,
                            label: 'Dataset 1',
                            backgroundColor: colores(valores)
                        }],
                        labels: etiquetas
                    },
                    options: {
                        responsive: true
                    }
                };

                if (window.myPie != undefined) {
                    window.myPie.destroy();
                }

                var ctx = document.getElementById("chart-area").getContext("2d");
                window.myPie = new Chart(ctx, config);

                $("#cargando_grafico").hide();

                $("#canvas-holder").show();
                $("#chart-area").show();
                $("#canvas").hide();
                $("#resultado").hide();
                $("#btn_exportar").show();
                $("#elmento_grafico").val('canvas');
            }
        })

    }

    function armar_graficoBarraDinamico() {

        var tipo_reporte = $("#tipo_reporte").val();
        
        var nombre_reporte = "@ViewBag.nombre_reporte";
        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();
        var string1 = "@ViewBag.valor1";
        var string2 = "@ViewBag.valor2";
        var string3 = "@ViewBag.valor3";
        

        $("#cargando_grafico").show();

        $.ajax({
            type: 'GET',
            url: 'DataGraficoTortaDinamico?tipo_reporte=' + tipo_reporte + '&nombre_reporte=' + nombre_reporte + '&fecha_desde=' + fecha_desde + '&fecha_hasta=' + fecha_hasta,
            success: function (response) {

                var valores = [];
                var valores_2 = [];
                var valores_3 = [];
                var etiquetas = [];

                response.forEach(function (element) {

                    valores.push(element.Valor);
                    valores_2.push(element.Valor_2);
                    valores_3.push(element.Valor_3);

                    etiquetas.push(element.Campo);
                   

                  
                });

                var color = Chart.helpers.color;

             

                var barChartData = {
                    labels: etiquetas,
                    datasets: [{
                        label: string1,
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.green,
                        borderWidth: 1,
                        data: valores
                    },
                    {
                        label: string2,
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.green,
                        borderWidth: 1,
                        data: valores_2
                    }]

                };

                if (window.myBar != undefined) {
                    window.myBar.destroy();
                }

                var ctx = document.getElementById("canvas").getContext("2d");
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: nombre_reporte
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

               
                $("#cargando_grafico").hide();
                $("#canvas").show();
                $("#canvas-holder").hide();
                $("#chart-area").hide();
                $("#resultado").hide();
				$("#btn_exportar").show();
       		    $("#elmento_grafico").val('canvas');

            }
        })

       
    }

    function ReporteCampoFechaValor() {

        var tipo_reporte = $("#tipo_reporte").val();
        //var nombre_reporte = $("#nombre_reporte").val();
        var nombre_reporte = "@ViewBag.nombre_reporte";
        var fecha_desde    = $("#fecha_desde").val();
        var fecha_hasta    = $("#fecha_hasta").val();

     

        $.ajax({
            type: 'GET',
            url: 'ReporteCampoFechaValor?tipo_reporte=' + tipo_reporte + '&nombre_reporte=' + nombre_reporte + '&fecha_desde=' + fecha_desde + '&fecha_hasta=' + fecha_hasta,
            success: function (response) {
                $("#resultado").html(response);
            }
        })

        $("#cargando_grafico").hide();
        $("#canvas").hide();
        $("#canvas-holder").hide();
        $("#chart-area").hide();
        $("#resultado").show();
    }

    function colores(internalData) {

        var graphColors = [];
        var graphOutlines = [];
        var hoverColor = [];

        var internalDataLength = internalData.length;
        i = 0;
        while (i <= internalDataLength) {
            var randomR = Math.floor((Math.random() * 130) + 100);
            var randomG = Math.floor((Math.random() * 130) + 100);
            var randomB = Math.floor((Math.random() * 130) + 100);

            var graphBackground = "rgb("
                    + randomR + ", "
                    + randomG + ", "
                    + randomB + ")";
            graphColors.push(graphBackground);

            var graphOutline = "rgb("
                    + (randomR - 80) + ", "
                    + (randomG - 80) + ", "
                    + (randomB - 80) + ")";
            graphOutlines.push(graphOutline);

            var hoverColors = "rgb("
                    + (randomR + 25) + ", "
                    + (randomG + 25) + ", "
                    + (randomB + 25) + ")";
            hoverColor.push(hoverColors);

            i++;
        };

        return hoverColor;

    }


    


    function llamarReporte() {
        var tipo_reporte = $("#tipo_reporte").val();



        if (tipo_reporte == "General")
            armar_graficoTorta();
        else
            armar_graficoBarraDinamico();
    }

</script>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Gestion de Reportes </h2>
              
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Gestion de Reportes</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">

        <h3><strong>@ViewBag.nombre_reporte</strong></h3>

        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <select class="form-control" id="tipo_reporte">
                    <option value="Diaria">Diaria</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Anual">Anual</option>
                    <option value="General">General</option>
                </select>
            </div>



        </div>

        <div class="row">

            <div class="col-md-3">

                <input type="text" name="fecha_desde" id="fecha_desde" class="form-control date" placeholder="Fecha Desde" value="@Session["fecha_desde"]" />
            </div>
            <div class="col-md-3">

                <input type="text" class="form-control date" id="fecha_hasta" name="fecha_hasta" placeholder="Fecha Hasta" value="@Session["fecha_hasta"]" />
            </div>

            <div class="col-md-3">

                <button class="btn btn-block" onclick="llamarReporte();" style="background-color:yellowgreen; color:white;">Graficar</button>
            </div>

            <div class="col-md-3">

                <button class="btn btn-block" onclick="ReporteCampoFechaValor();" style="background-color:yellowgreen; color:white;">Listar</button>
            </div>

        </div>
        
       
        <br />
        <br />
		<input type="hidden" id="elmento_grafico" />

        <button onclick="armar_pdf();" id="btn_exportar" style="display:none; width:150px; background-color:lightslategray; color:white;border: 1px solid;margin-top: 20px;" type="button">Exportar a PDF</button>

        <div id="resultado"></div>

        <div id="cargando_grafico" style="display:none; text-align:center">Cargando grafico por favor espere...</div>
        <div id="canvas-holder" style="width:80%">
            <br />
            <br />
            <canvas id="chart-area" />
        </div>

        <br />
        <canvas id="canvas"></canvas>

    </div>
</section>
