
@{
    ViewBag.Title = "Gestion de Reportes";

    var id_perfil = 0;

    try
    {
        id_perfil = ViewBag.idPerfil;
    }
    catch (Exception)
    {
        Response.Redirect("~/Usuarios/Login");
    }
    
}


<script>
    var perfil =  "@ViewBag.idPerfil"
    var mensaje = "@ViewBag.Mensaje"
    var negocio = "@ViewBag.IdNegocio"
    var countComercio = "@ViewBag.countComercio"
    var countHospedaje = "@ViewBag.countHospedaje"


    $(document).ready(function () {


        if (perfil == 2 ) 
        {
            $("#btnEncuestasSecretaria").hide();   
            if(countComercio > 0 & countHospedaje == 0){

                $("#btnReservasCategoria").hide();
                $("#btnReservasProvincia").hide();
                $("#btnPromocionesComercio").show();
                $("#btnReservasPorSolicitud").hide();
                $("#btnReservasProvinciaNegocio").hide();
                $("#btnReservasPorSolicitudNegocio").hide();
                $("#btnPromocionesNoUtilizadas").show();
                $("#btnPromocionesVencidas").show();
                $("#btnPromocionesPorProvincia").show();
                $("#btnPorcentajeOcupacion").hide();
                $("#btnPorcentajeOcupacionNegocio").hide();
                $("#btnCantidadPasajerosHospedados").hide();
                
            }else if(countHospedaje > 0 & countComercio == 0){
                $("#btnReservasCategoria").hide();
                $("#btnReservasProvincia").hide();
                $("#btnPromocionesComercio").hide();
                $("#btnReservasPorSolicitud").hide();
                $("#btnReservasPorSolicitudNegocio").show();
                $("#btnReservasProvinciaNegocio").show();
                $("#btnPromocionesNoUtilizadas").hide();
                $("#btnPromocionesVencidas").hide();
                $("#btnPromocionesPorProvincia").hide();
                $("#btnPorcentajeOcupacion").hide();
                $("#btnPorcentajeOcupacionNegocio").show();
                $("#btnCantidadPasajerosHospedados").hide();
            }
            else if(countHospedaje > 0 & countComercio > 0){
                $("#btnReservasCategoria").hide();
                $("#btnReservasProvincia").hide();
                $("#btnPromocionesComercio").show();
                $("#btnReservasPorSolicitud").hide();
                $("#btnReservasProvinciaNegocio").show();
                $("#btnPromocionesNoUtilizadas").show();
                $("#btnPromocionesVencidas").show();
                $("#btnPromocionesPorProvincia").show();
                $("#btnReservasPorSolicitudNegocio").show();
                $("#btnPorcentajeOcupacion").hide();
                $("#btnPorcentajeOcupacionNegocio").show();
                $("#btnCantidadPasajerosHospedados").hide();

                
                
            }
            else
                alert("No posee negocios registrados");

            
          
         } 

        if (perfil == 3) {

            $("#btnReservasCategoria").show();
            $("#btnReservasProvincia").show();
            $("#btnPromocionesComercio").hide();
            $("#btnReservasPorSolicitud").show();
            $("#btnEncuestasSecretaria").show();
            $("#btnReservasProvinciaNegocio").hide();
            $("#btnPromocionesNoUtilizadas").hide();
            $("#btnPromocionesVencidas").hide();
            $("#btnPromocionesPorProvincia").hide();
            $("#btnEncuestasNegocio").hide();
            $("#btnReservasPorSolicitudNegocio").hide();
            $("#btnPorcentajeOcupacion").show();
            $("#btnPorcentajeOcupacionNegocio").hide();
            $("#btnCantidadPasajerosHospedados").show();
        }

        if (mensaje != "") {
            alert(mensaje);
        }


        function buscarReporte() {

            var nombre_reporte = $("#nombre_reporte").val();
            var fecha_desde = $("#fecha_desde").val();
            var fecha_hasta = $("#fecha_hasta").val();

            $.ajax({
                type: 'GET',
                url: 'Reportes/BuscarReporte?nombre_reporte=' + nombre_reporte + '&fecha_desde=' + fecha_desde + '&fecha_hasta=' + fecha_hasta,
                success: function (response) {
                    $("#resultado").html(response);
                }
            })
        }
    });

</script>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Gestion de Reportes</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Gestion de Reportes</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">


        <div class="row">


            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <button id="btnReservasCategoria" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValor_Index", "Reportes", new { nombre_reporte = "Reservas por Categoria" })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Reservas por Categoria</button>
                </div>

                <div class="col-md-12">
                    <button id="btnReservasProvincia" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValor_Index", "Reportes", new { nombre_reporte = "Reservas por Origen" })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Reservas por Provincia</button>
                </div>

                <div class="col-md-12">
                    <button id="btnPromocionesComercio" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValor_Index", "Reportes", new { nombre_reporte = "Promociones por Comercio" })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Promociones por Comercio</button>
                </div>

                <div class="col-md-12">
                    <button id="btnReservasPorSolicitud" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValor_Index", "Reportes", new { nombre_reporte = "Reservas por Solicitud" })' " style=" background-color:yellowgreen; color:white;;padding: 5px; margin-bottom:10px;">Reservas por Solicitud</button>
                </div>

                <div class="col-md-12">
                    <button id="btnReservasProvinciaNegocio" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValorNegocio_Index", "Reportes", new { nombre_reporte = "Reservas por Origen Negocio", idTipoReporte = 1 })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Reservas por Provincia</button>
                </div>

                <div class="col-md-12">
                    <button id="btnPromocionesNoUtilizadas" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValorNegocio_Index", "Reportes", new { nombre_reporte = "Promociones no Utilizadas Negocio", idTipoReporte = 2 })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Promociones no Utilizadas Por Comercio</button>
                </div>

                <div class="col-md-12">
                    <button id="btnPromocionesVencidas" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValorNegocio_Index", "Reportes", new { nombre_reporte = "Promociones Vencidas Negocio", idTipoReporte = 2 })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Promociones Vencidas </button>
                </div>

                <div class="col-md-12">
                    <button id="btnPromocionesPorProvincia" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValorNegocio_Index", "Reportes", new { nombre_reporte = "Promociones por Provincia Negocio", idTipoReporte = 2 })' " style=" background-color:yellowgreen; color:white;padding: 5px; margin-bottom:10px;">Promociones por Provincia </button>
                </div>

                <div class="col-md-12">
                    <button id="btnEncuestasNegocio" class="btn btn-block" onclick="window.location = '@Url.Action("RespuestasEncuestaNegocio", "Reportes")' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px; margin-bottom:10px;">Tus Encuestas </button>
                </div>

                <div class="col-md-12">
                    <button id="btnEncuestasSecretaria" class="btn btn-block" onclick="window.location = '@Url.Action("RespuestasEncuestaSecretaria", "Reportes")' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px; margin-bottom:10px;">Encuestas </button>
                </div>

                <div class="col-md-12">
                    <button id="btnReservasPorSolicitudNegocio" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValorNegocio_Index", "Reportes", new { nombre_reporte = "Reservas por Solicitud Negocio", idTipoReporte = 1 })' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px; margin-bottom:10px;">Reservas por Solicitud</button>
                </div>

                <div class="col-md-12">
                    <button id="btnPorcentajeOcupacion" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValor_Index", "Reportes", new { nombre_reporte = "Porcentaje Ocupacion"})' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px; margin-bottom:10px;">Porcentaje Ocupacion</button>
                </div>

                <div class="col-md-12">
                    <button id="btnPorcentajeOcupacionNegocio" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValorNegocio_Index", "Reportes", new { nombre_reporte = "Porcentaje Ocupacion Negocio", idTipoReporte = 1 })' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px; margin-bottom:10px;">Porcentaje Ocupacion</button>
                </div>

                <div class="col-md-12">
                    <button id="btnCantidadPasajerosHospedados" class="btn btn-block" onclick="window.location = '@Url.Action("CampoFechaValor_Index", "Reportes", new { nombre_reporte = "Cantidad Pasajeros Hospedados" })' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px; margin-bottom:10px;">Cantidad Pasajeros Hospedados</button>
                </div>

                <div class="col-md-3"></div>

            </div>
        </div>
 


    


        <div id="resultado"></div>


        <a href="javascript:history.back()" class="btn btn-info" style="padding:10px; margin-top:20px; width: 200px;">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Volver
        </a>



    </d iv>
</section>
